$defaultTheme:
(
    tooltip:
    (
        background: #151515,
        foreground: #F5F5F5,
        shadow: #C0C0C0,
    ),
    multiButton:
    (
        subButton:
        (
            background: #fff,
            foreground: #333,
            border: #fff,
            shadow: #f0f0f0,
        ),
    ),
);
