:host
{
    display: flex;
    position: relative;
}

.multi-option
{
    align-self: center;
    text-align: center;
    flex: 1;
    min-width: 0;
}

.multi-button-content
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 8px;
}

.multi-option-separator
{
    border-left-style: solid;
    border-left-width: 1px;
    margin-top: -1px;
    margin-bottom: -1px;
}

.multi-option-click
{
    width: 1.6em;
    display: flex;
    flex-direction: row;
}

.sub-buttons
{
    display: flex;
    flex-direction: column;
    position: absolute;
    min-width: 100%;
    padding: 4px 0;
    border-radius: 4px;
}