<div [class]="options.cssClasses?.buttonsContainerDiv">
    <button [class]="options.cssClasses?.closeButton" (click)="dialog.close(false)">
        <span [class]="options.cssClasses?.closeButtonIcon"></span>
        <span>{{options.dialogCancelText | localize}}</span>
    </button>
    
    <button [class]="options.cssClasses?.confirmButton" (click)="dialog.close(true)">
        <span [class]="options.cssClasses?.confirmButtonIcon"></span>
        <span>{{options.dialogConfirmText | localize}}</span>
    </button>
</div>