@use "dark-colors" as theme;

multi-button
{
    .sub-buttons
    {
        box-shadow: 0 8px 10px 1px rgb(var(--multibutton-subbuttons-shadow, theme.$multibuttonSubbuttonsShadow) / 14%), 0 3px 14px 2px rgb(var(--multibutton-subbuttons-shadow, theme.$multibuttonSubbuttonsShadow) / 12%), 0 5px 5px -3px rgb(var(--multibutton-subbuttons-shadow, theme.$multibuttonSubbuttonsShadow) / 20%);
        background-color: var(--multibutton-subbuttons-background, theme.$multibuttonSubbuttonsBackground);
        border: 1px solid var(--multibutton-subbuttons-background, theme.$multibuttonSubbuttonsBackground);

        button
        {
            background-color: var(--multibutton-subbuttons-background, theme.$multibuttonSubbuttonsBackground);
            color: var(--multibutton-subbuttons-foreground, theme.$multibuttonSubbuttonsForeground);
            border-color: transparent;
        }
    }
}