:host
{
    font-weight: normal;
    font-style: italic;
    text-shadow: 0 0 1px;
    display: none;
}

:host(.clickable)
{
    cursor: pointer;
}

:host(.enabled)
{
    display: block;
}